.switch{
    margin: 20px;
    display: flex;
    align-items: center;
}
.onStyle{
    width: 30px;
    height: 20px;
    border: 2px solid black;
    margin-left: 5px;
    padding: 2px;
    background: green;
}
.offStyle{
    width: 30px;
    height: 20px;
    border: 2px solid black;
    margin-left: 5px;
    padding: 2px;
    background: red;
}
.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 10px;
    /*margin-top: 3px;*/
}
